<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <h1>QuizApp</h1>
  </header>
  <main>
    <article>
      <div class="quiz-preview">
        <h6>3 attempts, average 2/3</h6>
        <h2>Obscure Baroque String Facts</h2>
        <h5>by Leon</h5>
        <a class="btn btn-primary" href="quizzes/bv23f9" role="button">Take the quiz</a>
      </div>
    </article>

    <article class="quiz-proper">
      <h2>Obscure Baroque String Facts</h2>
      <h4>by Leon</h4>
      <form>
        <div class="question">
          <p class="query">Which of the following is NOT a common difference between baroque and modern violins?</p>
          <input class="form-check-input" type="radio" name="q1" id="q1o1">
          <label class="form-check-label" for="q1o1">
            Material of the strings
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q1" id="q1o2">
          <label class="form-check-label" for="q1o2">
            Length of the fingerboard
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q1" id="q1o3">
          <label class="form-check-label" for="q1o3">
            Arch of the top
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q1" id="q1o4">
          <label class="form-check-label" for="q1o4">
            Presence of chin and shoulder rests
          </label>
        </div>

        <div class="question">
          <p class="query">What is the biggest difference between viola da gamba tuning and guitar tuning?</p>
          <input class="form-check-input" type="radio" name="q2" id="q2o1">
          <label class="form-check-label" for="q2o1">
            Fifth in the bottom
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q2" id="q2o2">
          <label class="form-check-label" for="q2o2">
            Location of the third
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q2" id="q2o3">
          <label class="form-check-label" for="q2o3">
            Fifth on top
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q2" id="q2o4">
          <label class="form-check-label" for="q2o4">
            Gamba is tuned completely in fourths
          </label>
        </div>

        <div class="question">
          <p class="query">Before the cello was considered a delicate concert instrument, what was its primary use?</p>
          <input class="form-check-input" type="radio" name="q3" id="q3o1">
          <label class="form-check-label" for="q3o1">
            Marching
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q3" id="q3o2">
          <label class="form-check-label" for="q3o2">
            Chamber music
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q3" id="q3o3">
          <label class="form-check-label" for="q3o3">
            Folk music
          </label>
          <br>
          <input class="form-check-input" type="radio" name="q3" id="q3o4">
          <label class="form-check-label" for="q3o4">
            Church music
          </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit attempt</button>
      </form>
    </article>

    <article class="attempt">
      <h2>My attempt at Obscure Baroque String Facts</h2>
      <p>I attempted the "Obscure Baroque String Facts" quiz and got 2 out of 3 questions right!</p>
      <p>Can you do better?</p>
      <a class="btn btn-primary" href="quizzes/bv23f9" role="button">Take the quiz!</a>
    </article>

    <article class="new-quiz">
      <h2>Create a new quiz</h2>
      <p>Every question must have four multiple choice answers, of which only one is correct.</p>
      <form>
        <div class="input-group title">
          <div class="input-group-prepend">
            <span class="input-group-text" id="title-prompt">Title of quiz</span>
          </div>
          <input type="text" name="title" class="form-control" aria-describedby="query-prompt">
        </div>
        <br>
        <div class="input-group query">
          <div class="input-group-prepend">
            <span class="input-group-text" id="query-prompt">Question</span>
          </div>
          <input type="text" name="query" class="form-control" aria-describedby="query-prompt">
        </div>
        <div class="input-group correct">
          <div class="input-group-prepend">
            <span class="input-group-text" id="correct-prompt">Correct answer</span>
          </div>
          <input type="text" name="corect" class="form-control" aria-describedby="correct-prompt">
        </div>
        <div class="input-group wrong">
          <div class="input-group-prepend">
            <span class="input-group-text" id="wrong1-prompt">Wrong answer #1</span>
          </div>
          <input type="text" name="wrong1" class="form-control" aria-describedby="wrong1-prompt">
        </div>
        <div class="input-group wrong">
          <div class="input-group-prepend">
            <span class="input-group-text" id="wrong2-prompt">Wrong answer #2</span>
          </div>
          <input type="text" name="wrong2" class="form-control" aria-describedby="wrong2-prompt">
        </div>
        <div class="input-group wrong">
          <div class="input-group-prepend">
            <span class="input-group-text" id="wrong3-prompt">Wrong answer #3</span>
          </div>
          <input type="text" name="wrong3" class="form-control" aria-describedby="wrong3-prompt">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg> Add another question...
        <br>
        <button type="submit" class="btn btn-primary">Submit quiz</button>
      </form>
    </article>
  </main>
</body>

</html>
